{{ define "main" }}
<button onclick="window.history.back()"
	class="bg-transparent border-none font-bold">&larr;{{ i18n "back" | title}}</button>
<h1 class="text-center mx-auto max-w-4xl text-4xl sm:text-5xl md:text-6xl">
	{{ .Title }}
</h1>
{{ with .Params.subtitle }}
<h2 class="text-center font-serif font-thin mx-auto mb-16 max-w-4xl text-4xl">
	{{ . }}
</h2>
{{ end }}
<div class="text-justify leading-loose mb-12 text-lg">
	{{ .Content }}
</div>
{{/* Previous / Next section */}}
{{ if or (.PrevInSection) (.NextInSection) }}
<hr class="mb-6 mt-24">
{{ end }}

<div class="flex flex-wrap justify-between items-center">
	{{ if .PrevInSection }}
	<div class="{{ if .NextInSection }} w-full sm:w-1/2 {{ end }} mb-1 text-center sm:text-left overflow-ellipsis pr-1">
		<a class="mr-4 no-underline" href="{{ .PrevInSection.Permalink }}">
			<img src="{{ "/icons/left-arrow.png" | relURL }}" class="inline-block">
		</a>
		<a href="{{ .PrevInSection.Permalink }}">
			<span class="underline">{{ .PrevInSection.Title }}</span>
		</a>
	</div>
	{{ end }}

	{{ if .NextInSection }}
	<div
		class="{{ if .PrevInSection }} w-full sm:w-1/2 {{ else }} ml-auto {{ end }} mt-1 text-center sm:text-right overflow-ellipsis pl-1">
		<a href="{{ .NextInSection.Permalink }}">
			<span class="underline">{{ .NextInSection.Title }}</span>
		</a>
		<a class="ml-4 no-underline" href="{{ .NextInSection.Permalink }}">
			<img src="{{ "/icons/right-arrow.png" | relURL }}" class="inline-block">
		</a>
	</div>
	{{ end }}
</div>

<hr class="my-6">
{{ partial "contact_icons.html" . }}
<div class="mt-6"></div>

{{ end }}