<footer class="w-full h-24 text-center text-xs text-gray-400 bg-black relative">
	<div class="w-full px-6 md:pt-0 md:mx-auto md:max-w-5xl flex justify-between items-center absolute-center">
		<a href="{{ .Site.Home.Permalink }}">
			{{ partial "icon" . }}
		</a>

		<div>
			<a href="https://www.iubenda.com/privacy-policy/21718978"
				class="iubenda-black iubenda-noiframe iubenda-embed iubenda-noiframe " styile="float: right"
				title="Privacy Policy ">Privacy Policy</a>
			<script
				type="text/javascript">(function (w, d) { var loader = function () { var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s, tag); }; if (w.addEventListener) { w.addEventListener("load", loader, false); } else if (w.attachEvent) { w.attachEvent("onload", loader); } else { w.onload = loader; } })(window, document);</script>
		</div>


	</div>
</footer>